@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    font-family: 'Poppins', sans-serif;
}


body {
    /* font-family: 'Poppins', sans-serif; */
    /* margin: 60px auto; */
    background-color: rgb(233, 233, 233);
    
}

#move:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);
}


.header{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.header2{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}



/* .cards-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;

} */

#blog-info {
    display: flex;
    align-items: center;
}

#author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    align-self: flex-start;
    /* font-size: smaller; */
    flex: 70%;
}


#author-image {
    flex: 0%;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    overflow: hidden;
    margin-left: auto;
    border: solid 2px #104257;
}

#author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #878b8d56;
}

h1 {
    font-size: 2.5rem;
    color: #1d7195;
    margin: 0;
}

.location {
    color: rgb(22, 22, 167);
    margin: 0;
}

#sub-title {
    text-align: center;
    margin: 4cap 0 0 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.card {
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

button {
    background-color: #2e8eb7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1e617e;
    transition: 0.4s ease-in-out;
    transform: scale(1.03);
}

button a {
    text-decoration: underline;
    color: white;
}



#photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.photo {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.photo:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.photo img {
    transition: transform 0.3s ease;
}

.photo:hover img {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #1d7195;
    color: white;
    border-radius: 8px;
    padding: 2px;
    margin: 0 10% 20px 10%;
}

#nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}


#content{
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.parent {
    display: flex; 
}

.left-column {
    flex: 70%;
    padding: 15px;
}

.right-column {
    flex: 30%;
    /* background-color: #e0e0e0; */
    padding: 15px;
    border-radius: 4px;
}

.right-column h2 {
    color: rgb(0, 0, 0);
}

.small-cards{
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.small-card{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.cards-bg{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(232, 232, 232);
}

#rate{
    padding: 20px;
}

.table-container {
    margin: 5% auto;
    width: 100%;
    overflow-x: auto;
}

.pros-cons-table {
    width: 100%;
    border-collapse: collapse;
}

.pros-cons-table th, .pros-cons-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pros-cons-table th {
    background-color: #1d7195;
    color: white;
}

h3{
    margin: 0;
}

